[submodule "CAD/random-keyboard-parts.pretty"]
	path = CAD/random-keyboard-parts.pretty
	url = ../random-keyboard-parts.pretty.git
[submodule "CAD/Left/PCB/keyboard/libs/keyswitch-kicad-library"]
	path = CAD/Left/PCB/keyboard/libs/keyswitch-kicad-library
	url = ../keyswitch-kicad-library.git
[submodule "CAD/Right/PCB/keyboard/libs/keyswitch-kicad-library"]
	path = CAD/Right/PCB/keyboard/libs/keyswitch-kicad-library
	url = ../keyswitch-kicad-library.git
[submodule "CAD/mayscadlib"]
	path = CAD/mayscadlib
	url = ../mayscadlib.git
[submodule "Software/stm32duino-bootloader"]
	path = Software/stm32duino-bootloader
	url = ../stm32duino-bootloader.git
