[package]
name = "maykb_gen2"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
stm32f1xx-hal = { version = "0.7", features = ["rt", "stm32f103", "stm32-usbd"] }
cortex-m = "0.7"
cortex-m-rt = { version = "0.6.10", features = ["device"] }
panic-halt = "0.2.0"
keyberon = { git = "https://github.com/TeXitoi/keyberon", branch = "master" }
cortex-m-rtic = "0.5"
embedded-hal = "0.2"
usb-device = "0.2.0"
nb = "1.0.0"

[profile.release]
lto = true
incremental = false
opt-level = "z"
debug = true

